@model IEnumerable<app_ointment_backend.Models.User>


<div class="container">
    <h1>@ViewBag.CurrentViewName</h1>
    <table class='table table-striped'>
        <tr><th>Id</th><th>Name</th><th>Role</th></tr>
        @foreach (app_ointment_backend.Models.User user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Name</td>
                <td>@user.Role</td>
                <td></td>
            </tr>
        }
    </table>
</div>
